
<div class="row">
    <div class="col-8 offset-2" >
        <br>
    <h3><b>Edit your Listing</b></h3>
    <!-- enctype="multipart/form-data" is used for edit purpose for edit image for the purpose of cloudaniry storae -->
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"  enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label" >Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">tilte looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" >Description</label>
            <textarea name="listing[description]"  class="form-control" required> <%= listing.description %></textarea>
            <div class="invalid-feedback">please enter short description!</div>
        </div>
        <!-- preview image edit image -->
         Original Listing Image<br>
         <div class="mb-3">
            <img src="<%= originalImageUrl %>" class="fixed-image-size" />
          </div>
     <!-- preview image edit image -->
        <div class="mb-3">
            <!-- mades this field for image uploading directly  -->
            <label for="image" class="form-label">Upload New Image </label> 
            <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]"  class="form-control" required value="<%= listing.price %>">
                <div class="invalid-feedback">pleas enter valid price!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]"  class="form-control" required value="<%= listing.country %>">
                <div class="invalid-feedback">country name should be valid!</div>
    
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]"  class="form-control" required value="<%= listing.location %>">
            <div class="invalid-feedback">location should be valid!</div>
        </div>
        <button class="btn btn-dark  edit-button mb-3">Edit</button>
    </form>
</div> 
</div>
